<nav class="main-header navbar navbar-expand navbar-white navbar-light topbar">
  <!-- Left navbar links -->
  <ul class="navbar-nav nav-left" [class.ps-4]="!(token && token.trim().length > 0)" >
    @if (token && token.trim().length > 0) {
      <li class="nav-item ml-2">
        <a class="nav-link nav-btn" data-widget="pushmenu" href="#" role="button">
          <i class="fas fa-bars"></i>
        </a>
      </li>
    }

    @if (!token) {
    
        <!-- Website Name -->
      <li class="nav-item d-flex align-items-center ms-3">
        <span class="nav-link public-title">
          MaterialControl <span class="brand-highlight">PRESS</span>
        </span>
      </li>
     
      <li class="nav-item public-nav-item ">
        <a
          [routerLink]="['/']"
          class="nav-link public-tab"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Transaction
        </a>
      </li>
    
      <li class="nav-item public-nav-item">
        <a
          [routerLink]="['/signin']"
          class="nav-link public-tab"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          SignIn
        </a>
      </li>
    
    }

    @if (token && token.trim().length > 0) {

     <!-- Storage (มี icon + active highlight) -->
     <li class="nav-item">
      <a
        [routerLink]="['/jobTransaction']"
        class="nav-link nav-tab"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fas fa-warehouse me-2"></i>
        MC Job
      </a>
    </li>

  
        <!-- Storage (มี icon + active highlight) -->
        <li class="nav-item">
          <a
            [routerLink]="['/storage']"
            class="nav-link nav-tab"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-warehouse me-2"></i>
            Storage
          </a>
        </li>

        <!-- Issue -->
        <li class="nav-item">
          <a class="nav-link nav-center-item" [routerLink]="['/issue']" routerLinkActive="active">
            <i class="fas fa-truck-loading"></i>
            <span>Request Issue</span>
          </a>
        </li>

        <!-- Receive -->
        <li class="nav-item">
          <a class="nav-link nav-center-item" [routerLink]="['/return']" routerLinkActive="active">
            <i class="fas fa-undo"></i>
            <span>Request Return </span>
          </a>
        </li>
      }
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto nav-right">
    <li class="nav-item">
      <span class="nav-link nav-pill">
        <i class="far fa-calendar-alt"></i>
        <span id="currentDate">{{ formattedDate }}</span>
      </span>
    </li>
    <li class="nav-item">
      <span class="nav-link nav-pill">
        <i class="far fa-clock"></i>
        <span id="currentTime">{{ formattedTime }}</span>
      </span>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-pill nav-btn" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
  </ul>
</nav>